.btn-met {
    color: #fff;
    background-color: #07294d;
    border-color: #07294d;
}

.btn-met:hover {
    color: #07294d;
    background-color: #ffc600;
    border-color: #07294d;
}

.overview-description {
    padding: 25px 30px 25px;
}

.theme-category {
    color: #ffc600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.theme-category:hover {
    color: #07294d;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.theme-category.slash::before {
    color: #07294d;
    content: "|";
    margin-right: 50px;
    font-size: 18px;
}

.tests-tab .nav .nav-item a {
    padding: 20px 10px;
    background-color: #315377;
    color: #fff;
    display: block;
    font-weight: 600;
}

.tests-tab .nav .nav-item a.active {
    background-color: #edf0f2;
    color: #315377;
}

.matchingResult {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    position: absolute;
    margin: 0;
    left: 208px;
    bottom: -50px;
    width: 220px;
    transition: background-color 0.3s ease-out;
    border-radius: 3px;
    color: white;
    border: none;
    background-color: #ffc600;;
    color: #07294d;
    box-shadow: 0 1px 5px 0 rgba(1, 1, 1, 1);
}


.nav-pills-custom .nav-link {
    color: #07294d;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: white;
    background: #07294d;
    pointer-events: none;
}

@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #07294d;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.question_matching{
    font-size: 16px;
    color: #24486e;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0;
    display: block;
    text-align: center;
}

.nice-select{
    width: 100% !important;
    margin-bottom: 25px;
}

.nice-select.open .list{
    width: 100% !important;
}

.dark-fon {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.danger-text {
    color:darkred;
    text-align: center;
}
